body {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

div {
  /* display: block; */
}

.inner {
  max-width: 1831px;
  margin: 0 auto;
  position: relative;
}

img {
  /* display: block; */
}

button {
  outline: none;
  box-sizing: border-box;
  text-align: center;
  cursor: pointer;
  border: none;
}


header {
  background-color: rgb(34, 34, 34);
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 9;
}

header .inner {
  background-color: rgb(34, 34, 34);
  height: 104px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.inner .main-img {
  width: 139px;
  height: 48px;
}

.inner .header_items_first {
  position: absolute;
  left: 0;
}
.inner .btn_pop {
  background-color: transparent;
  color: #fff;
}
.inner .btn_pop span + span{
  margin-left: -10px;
}

.inner .header_items_third {
  position: absolute;
  right: 0;

}

.inner .header_items_third .lang .btn_language {
  width: 110px;
  height: 40px;
  font-size: 3px;
}

.inner .header_items_third .btn_language span:nth-child(2) {
  font-size: 15px;
  margin: 0px 8px 0px 14px;
}


.inner .btn_play {
  width: 300px;
  height: 104px;
  font-weight: 700;
  font-size: 28px;
  letter-spacing: -0.7px;
  background-image: url(./images/e3b29f1.png);
  transition: 0.4s;
}
.inner .btn_play:hover {
  opacity: 0.6;
}


