<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <style>
    img.profile {
      display: block;
      margin: 0 auto;
      width: 100px;
      border-radius: 50%;
    }

    .name {
      text-align: center;
    }

    span {
      color: red;
    }

    .st {
      text-align: center;
    }

    .box {
      width: 300px;
      background-color: bisque;
      text-align: center;
      margin: 0 auto;
      padding: 10px;
    }



  </style>
</head>
<body>
  
  <img class="profile" src="https://img1.daumcdn.net/thumb/R1280x0.fjpg/?fname=http://t1.daumcdn.net/brunch/service/user/cnoC/image/mvv1PxFfqla7cZC7JFcp77UeepQ" alt="펭귄">

  <h3 class="name">zzim chun</h3>

  <div class="st">
    <span>Full Stack</span> Developer
  </div>

  <div class="box">
    안녕하세요 천지민입니다 <br>
    반갑습니다
  </div>
</body>
</html>