<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body class="grey-bg">
  <%- include('nav') %>

  <form id="edit-form" class="form-box">
    <h4>수정하기</h4>
    <!-- id값 보내는 꼼수 -->
    <input type="hidden" name="id" value="<%= post._id %>">
    <label for="title">제목</label>
    <input value="<%= post.title %>" type="text" id="title" name="title">
    <label for="content">내용</label>
    <input value="<%= post.content %>" type="text" id="content" name="content">
    <button type="submit">수정</button>
  </form>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/js/edit.js"></script>
</body>
</html>