<nav>
  <div>
    <a href="/" class="logo">zzimBoard</a>
    <a href="/post">List</a>
    <a href="/post/write">Write</a>
  </div>

  <div>
    <% if (user) { %>
      <%= user.username %>님🤗
      <a href="/user/logout">Logout</a>
      <a href="/user/profile">Profile</a>
    <% } else { %>
      <a href="/user/login">Login</a>
      <a href="/user/register">Join</a>
    <% } %>
  </div>
</nav>