<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/css/main.css">
</head>
<body class="grey-bg">
  <%- include('nav') %>

  <form id="register-form" class="form-box">
    <h4>회원가입</h4>
    <label for="username">ID</label>
    <input type="text" id="username" name="username">
    <label for="password">PW</label>
    <input type="password" id="password" name="password">
    <button type="submit">가입</button>
  </form>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/js/register.js"></script>
</body>
</html>