.com {
	display: flex;
	/* display: inline-flex; */
  background-color: aquamarine;
  width: 20px;
  font-size: 10px;
}
.container {
	display: flex;
	/* display: inline-flex; */
}
.item {
  width: 300px;
  padding: 40px;
  background-color: blanchedalmond;
  font-size: 30px;
}
.a {
  width: 50px;
  margin: 30px;
}