div {
  color: red;
  font-size: 100px;
}

.logo{
  width: 500px;
  height: 500px;
  background-image: url("../images/logo.png");
}
h1{
  color:blueviolet;
  font-size: large;
  background-color: black;
}